.card-button {
  margin: 24px 24px auto auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url('../../images/save-button.svg');
  border-radius: 8px;
  cursor: pointer;
}

.card-button:hover {
  background-image: url('../../images/save-button-hover.svg');
}

.card-button:active {
  background-image: url('../../images/save-button-selected.svg');
}

/*tablet/laptop view*/
@media screen and (max-width: 1439px) {
  .card-button {
    margin: 8px 8px auto auto;
  }
}

/*mobile view*/
@media screen and (max-width: 767px) {
  .card-button {
    margin: 16px 16px auto auto;
  }
}